<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House on Rent</title>
</head>
<body>
    <h3> Place Details</h3>
    <ul>
        <li><%= place.title %></li>
        <li><%= place.description %></li>
        <li>&#8377; <%= place.price %></li>
        <li><%= place.location %></li>
        <li><%= place.country  %></li>
    </ul>
    <br />
    <a href="/places/<%= place._id %>/edit">Edit this PLACE</a>
    <br /> <br />
    <form method="POST" action="/places/<%=place._id%>?_method=DELETE">
        <button>DELETE this PLACE</button>
    </form> 
</body>
</html>